pandas 
mlflow==2.2.2
numpy
scikit-learn
matplotlib
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
Flask
Flask-Cors
-e .
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability